#details
	padding 60px 0
.details-info
	&-wrapper
		margin-top: 80px
		position relative
		border-radius: 34px 71px 19px 34px
		box-shadow: 0px 1px 53.1px 5.9px rgba(0, 0, 0, 0.68);
		background-color: #665d5d
		background-image: linear-gradient(45deg, #000, #665d5d)
		padding 10px
	border-radius: 34px 71px 19px 34px
	padding 45px 25px 45px 65px
	background-color: #665d5d
	background-image: url(../img/backs/why-cta.png)
	background-repeat: no-repeat
	background-position: center
	background-size: 100% 100%
	&:after
		content: '“'
		display block
		position absolute
		top -20px
		left 0
		font-size: 150px
		font-weight: bold
		color #fff
		z-index 30
		line-height: 100px
	&-text
		span
			display block
			margin-top: 35px
			font-size: 20px
			font-weight: bold
			text-transform uppercase
			color #d2c2a0
.details-cta
	padding 26px 48px
	border-radius: 8px
	background-color #fff
	font-size: 20px
	font-weight: bold
	text-transform uppercase
	text-align center
	color #000
	display block
	width 100%
	max-width 450px
	margin -10px auto 20px
	position relative
	z-index 10
.details-imgs
	position relative
	padding-top: 100%
.details-img
	position absolute
	&-1
		top 0
		right -10px
	&-2
		top 0
		right -130px
	&-3
		bottom: -80px
		right -50px